wandb_project: "distqat"
experiment_prefix: "gcn"

data:
  dataset_name: "ogbn-arxiv"
  task_type: "node_pred"
  num_workers: 0
  precision: "32-true"

diloco:
  inner_optim:
    type: "adam"
    adam_lr: 0.01
    adam_weight_decay: 5e-4
    adam_betas1: 0.9
    adam_betas2: 0.95
  outer_optim:
    type: "sgd"
    sgd_lr: 0.07
    sgd_momentum: 0.9
    sgd_nesterov: True
  inner_steps: 500
  outer_steps: 100
  batch_size_per_step: 1
  min_refresh_period: 5.0
  max_refresh_period: 30.0
  averaging_timeout: 60.0
  verbose: true

model_pipeline:
  pipeline:
    - model_name: "gcn.full"
      in_dim: 128
      hid_dim: 128
      num_classes: 40
      num_nodes: 169343
      num_edges: 1166243
      outputs_schema_instance_dims: [169343, 40]
  forward_timeout: 90.0
  backward_timeout: 180.0

param_mirror:
  enable: false
  refresh_every: 300


data_server:
  ipc_host: "127.0.0.1"
  ipc_port: 52555
  ipc_key: "distqat"
  num_workers: 1
  pool_size: 32

world_size: 2
device: "cuda"
max_expert_index: 128
log_dir: "logs/gcn"