wandb_project: "distqat"
experiment_prefix: "ppo"

data:
  dataset_name: "HalfCheetah-v5"
  dataset_split: "train"
  task_type: "rl"
  num_workers: 0
  precision: "32-true"

ppo:
  num_steps: 2048
  update_epochs: 10
  num_minibatches: 32
  minibatch_size: 64
  total_timesteps: 1000000
  gamma: 0.99
  lam: 0.95
  clip_coef: 0.2
  ent_coef: 0.01
  num_envs: 1
  gae_lambda: 0.95
  vf_coef: 0.5


diloco:
  inner_optim:
    type: "adam"
    adam_lr: 3e-4
    adam_weight_decay: 0
    adam_epsilon: 1e-5
    adam_betas1: 0.9
    adam_betas2: 0.99
  outer_optim:
    type: "sgd"
    sgd_lr: 0.07
    sgd_momentum: 0.9
    sgd_nesterov: True
  inner_steps: 150
  outer_steps: 10
  max_grad_norm: 0.5
  batch_size_per_step: 64
  min_refresh_period: 5.0
  max_refresh_period: 30.0
  averaging_timeout: 60.0
  verbose: true

model_pipeline:
  pipeline:
    - model_name: "ppo.full"
      in_dim: 17
      action_dim: 6
  forward_timeout: 90.0
  backward_timeout: 180.0


device: "cuda"
max_expert_index: 128
log_dir: "logs/ppo"