wandb_project: "distqat"
experiment_prefix: "resnet50"

data:
  # dataset_name: "ylecun/mnist"
  # dataset_name: "uoft-cs/cifar10"
  dataset_name: "ILSVRC/imagenet-1k"
  dataset_split: "train"
  task_type: "cv"
  num_workers: 16
  precision: "fp16-mixed"
  num_channels: 3 # change to 1 for mnist
  img_size: 224 # change to 224 for imagenet
  dataset_num_shards: 267
  dataset_path: "/simdata/pahrendt/datasets"


diloco:
  inner_optim:
    type: "adam"
    adam_lr: 4e-4
    adam_weight_decay: 0.1
    adam_betas1: 0.9
    adam_betas2: 0.95
  outer_optim:
    type: "sgd"
    sgd_lr: 0.7
    sgd_momentum: 0.9
    sgd_nesterov: True
  inner_steps: 500
  outer_steps: 10000
  batch_size_per_step: 64
  min_refresh_period: 5.0
  max_refresh_period: 30.0
  averaging_timeout: 300.0
  verbose: true
  max_grad_norm: 1.0
  # accumulation_steps: 8
  metadata_expiration: 900.0

model_pipeline:
  pipeline:
    - model_name: "resnet50.full"
      num_classes: 1000
  forward_timeout: 120.0
  backward_timeout: 240.0

network:
  expert_dht_update_period: 30.0
  expert_dht_expiration: 900.0
  metrics_expiration: 900.0

param_mirror:
  enable: false
  refresh_every: 30


data_server:
  ipc_host: "127.0.0.1"
  ipc_port: 52555
  ipc_key: "distqat"
  num_workers: 1
  pool_size: 32

world_size: 1
device: "cuda"
max_expert_index: 128
log_dir: "logs/resnet50"
checkpoint_dir: "/simdata/pahrendt/checkpoints/resnet50"
checkpoint_keep_history: true